{% extends 'base.html' %}
{% load staticfiles%}
{% load bootstrap3 %}
{% block content %}
{{block.super}}
<div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
<div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
    <h3 style="text-align:center;">Pick You New Neighborhood</h3>
    <hr>
    {% for neighborhood in neighborhoods %}
    <div class="col-md-4">
        <div class="well">
            {{neighborhood.neighborhood_name}}
            <a href="{% url 'movingUrl' 2%}">Move In</a>
        </div>
    </div>
    
    {% endfor %}
</div>
<div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>

{% endblock %}