{% load bootstrap3 %} {%load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title>Instagram - {{title}}</title>
    {% else %}
    <title> Instagram </title>
    {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> {% endblock %}

</head>

<body style="background-color:#f2f2f2;">
{% block content %} {%endblock%} 
</body>

</html>