{% load bootstrap3 %} {%load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"> {% if title %}
    <title>The Watch - {{title}}</title>
    {% else %}
    <title> The Watch </title>
    {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"> {% endblock %}

</head>

<body style="background-color:white;">
{% include 'navbar.html' %}
{% block content %} {% endblock %} 
</body>

</html>